<!-- FOOTER -->
<div id="footer">
    <div class="vip">
        <h2>加入雅舍俱乐部</h2>
        <p>使用雅舍俱乐部会员卡，享受折扣，灵感和许多美好事物，使你的想法栩栩如生。</p>
        <button>查看更多</button>
    </div>
    <div class="block" style="margin-left: 5%;">
        <h3>常用链接</h3>
        <p>雅舍《家居指南》及手册</p>
        <p>雅舍家居APP</p>
        <p>本地商场</p>
        <p>在线设计工具</p>
        <p>宜家俱乐部</p>
        <p>宜家对公业务</p>
        <p>瑞典美食</p>
    </div>
    <div class="block">
        <h3>客户服务</h3>
        <p>客户服务</p>
        <p>联系我们</p>
        <p>网上商城配送范围</p>
        <p>常见问题</p>
        <p>退货政策</p>
        <p>品质保证</p>
        <p>购物指南</p>
    </div>
    <div class="block">
        <h3>关于我们</h3>
        <p></p>这就是宜家
        <p></p>民主设计
        <p></p>可持续的日常生活
        <p></p>社区参与
        <p></p>加入我们
        <p></p>意见反馈
    </div>
    <div class="block">
        <h3>雅舍新闻</h3>
        <p>新闻室</p>
        <p>新闻联络</p>
        <p>商品召回</p>
        <p>牢牢固定</p>
    </div>
    <hr />
    <div class="foot">
        <p>© Inter IKEA Systems B.V. 1999-2021</p>
        <p style="margin-left:8%;">隐私政策 | 缺陷披露政策 | 使用条款 | 上海工商 | 沪公网安备 31010402001069号 | 沪ICP 备17055232 号 </p>
    </div>
</div>
</div>
</body>