<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
</head>
<body>
  <!-- 导航栏 -->
  <div id="top">
    <div class="logo"><img src="./img/logo.png"></div>
    <div class="nav">
      <ul>
        <li class="current" style="margin-left: 0px"><a href="#">首页</a></li>
        <li>
          <a href="#">所有商品</a>
          <!-- 二级菜单 -->
          <div class="nav-list">
            <!-- 滑动 -->
            <div class="slide">
              <ul>
                <li>
                  <a href="#">床和床垫</a>
                  <div class="slide-list">
                    <ul style="margin-left: 2%;">
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">餐具和厨具</a>
                  <div class="slide-list">
                    <ul style="margin-left: 2%;">
                      <li>
                        <a href="./product_exhibition.html">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/bowl.png">
                            </div>
                            <div class="desc">餐具</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">储物和收纳</a>
                  <div class="slide-list">
                    <ul style="margin-left: 2%;">
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">灯具照灯</a>
                  <div class="slide-list">
                    <ul style="margin-left: 2%;">
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">浴室产品</a>
                  <div class="slide-list">
                    <ul style="margin-left: 2%;">
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">地毯，门垫和地板</a>
                  <div class="slide-list">
                    <ul style="margin-left: 2%;">
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="img-box">
                            <div class="image">
                              <img src="./img/mode.png">
                            </div>
                            <div class="desc">家具系列</div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#">客厅</a></li>
        <li><a href="#">卧室</a></li>
        <li><a href="#">厨卫</a></li>
        <li><a href="#">设计与服务</a></li>
      </ul>
    </div>
    <div class="search">
      <input type="text" name="search" placeholder="请输入...">
      <a href="#"><i class="fa fa-search"></i></a>
    </div>
    <div class="choose">
      <a href="login.html"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
  </div>